 /* Css Variables */
 :root {
     --primary: #00d19f;
     --secondary: #6c6b6b;
     --white: #fff;
     --black: #000;
     --light-gray: rgba(230, 230, 230, 1);
     --dark-gray: #252525;
 }

 /*** Base Style ***/

 *,
 html {
     appearance: none;
     -webkit-appearance: none;
     padding: 0;
     margin: 0;
     outline: none;
     box-sizing: border-box;
 }

 *:after,
 *:before {
     box-sizing: border-box;
 }

 ul {
     padding: 0;
     margin: 0;
 }

 ul li {
     list-style: none;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: normal;
     margin: 0;
 }

 p {
     margin: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
     outline: none;
 }

 @-webkit-viewport {
     width: device-width;
 }

 @-moz-viewport {
     width: device-width;
 }

 @-ms-viewport {
     width: device-width;
 }

 @-o-viewport {
     width: device-width;
 }

 @viewport {
     width: device-width;
 }



 /**********/

 body {
     margin: 0;
     padding: 0;
     color: var(--black);
     min-width: 320px;
     font-family: "Roboto", Arial, sans-serif;
     letter-spacing: 1px;
     position: relative;
 }

 /*****************************/
 /*   Property-Report-Page   */
 /***************************/

.navbar {
     background: var(--primary);
     box-shadow: 0px 0px 10px -3px var(--black);
     -webkit-box-shadow: 0px 0px 10px -3px var(--black);
     -moz-box-shadow: 0px 0px 10px -3px var(--black);
     -ms-box-shadow: 0px 0px 10px -3px var(--black);
     -o-box-shadow: 0px 0px 10px -3px var(--black);
 }

 .agent-HomeValue .logo {
     width: 200px;

 }

 .agentProfile-detail p {
     letter-spacing: 1px;
     color: #253f50;
 }

 .agent-HomeValue .content-outer {
     padding-top: 120px;
 }

 h1 {
     color: var(--primary);
 }

 mark {
     color: inherit;
     padding: 0;
     background: none;
     background-image: linear-gradient(120deg, rgba(255, 193, 7, 0.4) 0%, rgba(255, 193, 7, 0.4) 100%);
     background-repeat: no-repeat;
     background-size: 100% 0.4em;
     background-position: 0 100%;
     position: relative;
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
 }

 .similar-property {
     border-radius: 25px;
     background: #f0f0f0;
 }

 .similar-propDetail label {
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
     -webkit-background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
     -moz-background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
     -o-background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
     -ms-background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
 }

 /************/

 .chartjs {
     min-height: 400px; 
 }
 /**********/

.realtor-profile span{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: auto;
}
.realtor-profile-detail h5{
    color: #9b9b9b;
    
}

.realtor-profile-detail strong{
    font-size: 18px;
    text-transform: uppercase;
    
}

.trans{
    transform: 0.4s all ease-in-out;
    -webkit-transform: 0.4s all ease-in-out;
    -moz-transform: 0.4s all ease-in-out;
    -ms-transform: 0.4s all ease-in-out;
    -o-transform: 0.4s all ease-in-out;
}

.trans:hover{
    transform: 0.4s all ease-in-out;
    -webkit-transform: 0.4s all ease-in-out;
    -moz-transform: 0.4s all ease-in-out;
    -ms-transform: 0.4s all ease-in-out;
    -o-transform: 0.4s all ease-in-out;
}

.form-group{
    margin-bottom: 30px;
}
.form-control{
    height: 50px;
    border: 1px solid #eee;
    background: var(--white);
    box-shadow: 0px 0px 14px 3px #eee;
    letter-spacing: 1px;
    font-size: 15px;
}

.form-control:focus,
.form-control:hover{ 
    outline: none;
    border: 1px solid var(--primary);
    background: var(--white);
    box-shadow: 0px 6px 7px -3px var(--primary);
}
input.form-control[type="submit"]{
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--white);
    font-weight: 700;
    box-shadow: 0px 0px 14px 3px #eee;

}

input.form-control[type="submit"]:active,
input.form-control[type="submit"]:focus,
input.form-control[type="submit"]:hover{
    background: var(--white);
    color: var(--primary);
    letter-spacing: 2px;
    box-shadow: 0px 6px 7px -3px var(--primary);

}


/***********/


section.market-housing {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 2rem
}

section.market-housing .market-title {
    margin-bottom: 20px
}

section.market-housing .market-title span {
    color: #ff6c2c;
    font-weight: 600;
    margin-bottom: 12px;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.5px
}

section.market-housing .market-title h2 {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.5px;
    color: #222;
    margin-top: 0px;
    margin-bottom: 30px
}

section.market-housing .market-left-block {
    padding-bottom: 30px
}

section.market-housing .market-left-block p {
    font-size: 17px;
    line-height: 26px;
    color: #1b1e20;
    margin-bottom: 1.3rem
}

section.market-housing .market-left-block .downlord-btn {
    padding-top: 20px
}

.downlord-btn {
    padding-top: 10px
}

.downlord-btn a,
.downlord-btn button {
    background: var(--primary);
    border: 2px solid var(--primary);
    padding: 12px 18px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: var(--white);
    text-decoration: none;
    box-shadow: none;
    font-weight: 700;
    box-shadow: 0px 6px 12px -4px var(--primary);
    -webkit-box-shadow: 0px 6px 12px -4px var(--primary);
    -moz-box-shadow: 0px 6px 12px -4px var(--primary);
    -ms-box-shadow: 0px 6px 12px -4px var(--primary);
    -o-box-shadow: 0px 6px 12px -4px var(--primary);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.downlord-btn a:focus,
.downlord-btn a:hover,
.downlord-btn button:focus,
.downlord-btn button:hover {
    background: var(--white);
    border-color: var(--primary);
    padding: 12px 18px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--primary);
    outline: none;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

section.market-housing .right-icon-block .market-title {
    margin-bottom: 30px
}

section.market-housing .right-icon-block .market-title span {
    font-size: 24px;
    margin-bottom: 10px
}

section.market-housing .right-icon-block .market-title h2 {
    font-size: 36px;
    max-width: 76%;
    margin: 0 auto;
    line-height: normal
}

section.market-housing .right-icon-block .chartimg-footer {
    margin-top: 30px
}

section.market-housing .right-icon-block .chartimg-footer img {
    margin-top: 4px
}

section.market-housing .right-icon-block .chartimg-footer p {
    text-align: justify;
    color: #8d8e8f
}

section.market-housing .right-icon-block .left-border {
    border-right: 2px solid #eee
}

section.market-housing .right-icon-block {
    text-align: center;
    margin-top: 2px
}

section.market-housing .right-icon-block .icon-box {
    margin-bottom: 20px
}

section.market-housing .right-icon-block .one-box {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px
}

section.market-housing .right-icon-block .two-box {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px
}

section.market-housing .right-icon-block .five-box {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px
}

section.market-housing .right-icon-block .six-box {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px
}

section.market-housing .right-icon-block .inner-border {
    border-right: 2px solid #eee
}

section.market-housing .right-icon-block .icon-box img {
    max-width: 60px;
    padding-bottom: 6px;
    margin: auto;
}

section.market-housing .right-icon-block .icon-box p {
    font-size: 12px;
    text-transform: uppercase;
    color: #1b1e20;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'KarlaBold';
    font-weight: 800;
    opacity: 50%
}

section.market-housing .right-icon-block .icon-box h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px
}

section.market-housing .right-icon-block .icon-box span {
    font-size: 22px;
    font-weight: 600;
    font-family: "Libre Baskerville", serif
}

section.market-housing .right-icon-block .one-box h4,span {
    color: #825ca7
}

section.market-housing .right-icon-block .two-box h4,span {
    color: #236a95
}

section.market-housing .right-icon-block .three-box h4,span {
    color: #00b2bf
}

section.market-housing .right-icon-block .four-box h4,span {
    color: #ff6c2c
}

section.market-housing .right-icon-block .five-box h4,span {
    color: #ff6c2c
}

section.market-housing .right-icon-block .six-box h4,span {
    color: #357d57
}

section.market-housing .right-icon-block .seven-box h4,span {
    color: #00b2bf
}

section.market-housing .right-icon-block .eight-box h4,span {
    color: #236a95
}

.right-icon-block .market-title, .right-icon-block .chartimg-footer {
    display: none;
}

.chartimg-footer {
    font-size: 11px;
}

 /***************/
 /* Responsive */
 /*************/
 @media screen and (max-width: 768px) {

     .agent-HomeValue .logo {
         width: 150px;
     }

     .agentProfile {
         width: 52%;
     }

     .agentProfile-detail p {
         font-size: 12px;
     }

     

 }
